body{
    background: white url("images/background.png");
  }

  .navbar{
    border-radius: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
  }

  .navbar-brand{
    font-family: 'Slabo 27px', serif;
  }

  .nav-side-menu {
    overflow: auto;
    font-family: verdana;
    font-size: 12px;
    font-weight: 200;
    background-color: #2e353d;
    position: fixed;
    top: 0px;
    width: 300px;
    height: 100%;
    color: #e1ffff;
  }
  .nav-side-menu .brand {
    background-color: #23282e;
    line-height: 50px;
    display: block;
    text-align: center;
    font-size: 14px;
  }
  
 
.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #337ab7;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
     font-family: verdana;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
     outline:0;
}


.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.buttontable {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.buttontable:hover {
    background-color: #555555; /* Green */
    color: white;
}
