<!DOCTYPE html>

<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{% block title %}VM Management{%endblock%}</title>
	{% load staticfiles %}
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link href='https://fonts.googleapis.com/css?family=Slabo+27px' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="{% static 'backup/styles.css' %}"/>
	<script src="https://ajax.googleapis.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script type = "text/javascript" src = "https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	 <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>jQuery UI Datepicker - Default functionality</title>
	<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<link rel="stylesheet" href="/resources/demos/style.css">
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>		

    <style>
    	.modal {
		    display: none ; /* Hidden by default */
		    position: fixed; /* Stay in place */
		    z-index: 1; /* Sit on top */
		    padding-top: 100px; /* Location of the box */
		    left: 0;
		    top: 0;
		    width: 100%; /* Full width */
		    height: 100%; /* Full height */
		    overflow: auto; /* Enable scroll if needed */
		    background-color: rgb(0,0,0); /* Fallback color */
		    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
			font-family: verdana;
		}

		/* Modal Content */
		.modal-content {
		    background-color: #fefefe;
		    margin: auto;
		    padding: 20px;
		    border: 1px solid #888;
		    width: 20%;
			font-size: 12px;
		}

		.dateClass {

	    }

		/* The Close Button */
		.close {
		    color: #aaaaaa;
		    float: right;
		    font-size: 28px;
		    font-weight: bold;
		}

		.close:hover,
		.close:focus {
		    color: #000;
		    text-decoration: none;
	    	cursor: pointer;

	 	}   

    </style>
	

		

</head>

	 <script>

           function OpenModal() {
               	var modal = document.getElementById('policyModal');

				// When the user clicks the button, open the modal 
				modal.style.display = "block";
            	}

	       function createPolicy() {
	        var xmlhttp = new XMLHttpRequest();
	        //alert("http://127.0.0.1:8000/policy/create/startDay=" + document.getElementById("startDay").value + "&startMonth=" + document.getElementById("startMonth").value + "&startYear=" + document.getElementById("startYear").value + "&endDay=" + document.getElementById("endDay").value + "&endMonth=" + document.getElementById("endMonth").value+ "&endYear=" + document.getElementById("endYear").value + "&bckrotation=" + document.getElementById("bckrotation").value );
	        var currentDate = $( "#startdatepicker" ).datepicker( "getDate" );
			var startdate=document.getElementById("startdatepicker").value;
			var startres=startdate.split("-"); 
			var currentDate = $( "#enddatepicker" ).datepicker( "getDate" );
			var enddate=document.getElementById("enddatepicker").value;
			var endres=enddate.split("-"); 

	        xmlhttp.open("GET", "http://127.0.0.1:8000/policy/create/startDay=" + startres[0] + "&startMonth=" + startres[1] + "&startYear=" + startres[2] + "&endDay=" + endres[0] + "&endMonth=" + endres[1] + "&endYear=" + endres[2] + "&bckrotation=" + document.getElementById("bckrotation").value, true);

	        xmlhttp.onreadystatechange = function() 
	        {
	            if (this.readyState == 4 && this.status == 200) 
	            {
	               
	            }
	        };

        	xmlhttp.send(null);
    }
    </script>

<script>
  $( function() {
    
	$( "#startdatepicker" ).datepicker({
	  dateFormat: "dd-mm-yy"
	});
	//alert(document.getElementById("datepicker").value);
  } );

   $( function() {
    
	$( "#enddatepicker" ).datepicker({
	  dateFormat: "dd-mm-yy"
	});
	//alert(document.getElementById("datepicker").value);
  } );

  </script>


<body>
	 

	<nav class="navbar navbar-inverse">
		<div class="container-fluid">

		<!--Header-->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">VM Management</a>
		</div>

		<!--Items-->
		<div class="collapse navbar-collapse" id="topNavBar">
			<ul class="nav navbar-nav">
				<li class="active">
					<a href="#">
						<span class="glyphicon glyphicon-cloud-upload" aria-hidden="true"></span>&nbsp; Backup
					</a>
				</li>
				<li class="active">
					<a href="#">
						<span class="glyphicon glyphicon-cloud-download" aria-hidden="true"></span>&nbsp; Restore
					</a>
				</li>
			</ul>

			<form class="navbar-form navbar-left" role="search" method="get" action="#">
				<div class="form-group">
					<input type="text" class="form-control" name="q" value="">
				</div>
				<button type="submit" class="btn btn-default">Search</button>
			</form>

			<ul class="nav navbar-nav navbar-right">
				<li class="active">
					<a href="javascript:OpenModal()">
						<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>&nbsp; Create Policy
					</a>
				</li>
				<li class="active">
					<a href="#">
						<span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp; Logout
					</a>
				</li>
			</ul>
		</div>
		</div>
	</nav>
	
	<div id="policyModal" class="modal">
  <!-- Modal content -->
	   <div class="modal-content">
		    <span class="close" id="closePol">&times;</span>
		    <p>Create a New Policy:</p>
			<form,>
				<fieldset>
					<legend style="color:#337ab7"> Policy Parameters: </legend>
						<p>Start Date: <input type="text" id="startdatepicker" class="dateClass"></p>
						<p>End Date: <input type="text" id="enddatepicker" class="dateClass"></p>
						<p><b>Backup Rotation Count:</b></p>
						<input type="text" id="bckrotation" value="2"><br><br>
						<button type="button" onclick="createPolicy()" style="width:90%">Submit</button>
				</fieldset>
			</form> 
		</div>
	</div>

	<div class="col-md-3 column margintop20" style="margin-top: 50px">
	    <ul class="nav nav-pills nav-stacked">
		  <li class="active" ><a><strong>Hypervisors</strong></a></li>
		  <li><a href="http://127.0.0.1:8000/config/esx/"><span class="glyphicon glyphicon-chevron-right"></span> ESX</a></li>
		  <li><a href="http://127.0.0.1:8000/config/kvm/"><span class="glyphicon glyphicon-chevron-right"></span> KVM</a></li>
		  <li><a href="http://127.0.0.1:8000/config/hyperv/"><span class="glyphicon glyphicon-chevron-right"></span> HyperV</a></li>
		 </ul>
	</div>



	{% block body %}
	{% endblock %}
</body>
</html>


