<!DOCTYPE html>

<html lang="en">
<head>
	<meta charset="UTF-8">
	<title >{% block title %}VM Management{%endblock%}</title>
	{% load staticfiles %}
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link href='https://fonts.googleapis.com/css?family=Slabo+27px' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="{% static 'backup/styles.css' %}"/>
	<script src="https://ajax.googleapis.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script type = "text/javascript" src = "https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	 <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>jQuery UI Datepicker - Default functionality</title>
	<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<!--<link rel="stylesheet" href="/resources/demos/style.css">-->
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>		

	<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">

    <style>

    	form {
            margin: 0 0 0 43%;
            padding: 10px;
            width: 20%;
          }

        input {
            padding: 5px;
            width: 90%;
        }

    	.modal {
		    display: none ; /* Hidden by default */
		    position: fixed; /* Stay in place */
		    z-index: 1; /* Sit on top */
		    padding-top: 100px; /* Location of the box */
		    left: 0;
		    top: 0;
		    width: 100%; /* Full width */
		    height: 100%; /* Full height */
		    overflow: auto; /* Enable scroll if needed */
		    background-color: rgb(0,0,0); /* Fallback color */
		    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
			font-family: verdana;
		}

		/* Modal Content */
		.modal-content {
		    background-color: #fefefe;
		    margin: auto;
		    padding: 20px;
		    border: 1px solid #888;
		    width: 20%;
			font-size: 12px;
		}

		.dateClass {

	    }

		/* The Close Button */
		.close {
		    color: #aaaaaa;
		    float: right;
		    font-size: 28px;
		    font-weight: bold;
		}

		.close:hover,
		.close:focus {
		    color: #000;
		    text-decoration: none;
	    	cursor: pointer;

	 	}

    </style>




</head>

	 <script>

         //document.cookie = 'csrftoken=;expires=Thu, 01 Jan 1970 00:00:01 GMT; path=/';
        //alert(document.cookie);

        var FAKEHEADERS1=["id", "hyper_type", "timestamp", "function","status", "vm"];
        var REALHEADERS1=["SERIAL NO.", "HYPERVISOR", "TIMESTAMP", "FUNCTION", "STATUS", "VIRTUAL MACHINE ID"];
        myDetails = [];
        var flag= 0;
        function getRealheader1(fakeheader)
        {

            for(var i=0;i<FAKEHEADERS1.length;i++)
            {
                //alert(fakeheader);
                if(FAKEHEADERS1[i]==fakeheader)

                    return i;
            }
            return -1;
        }

        function OpenModal() {
               	var modal = document.getElementById('policyModal');

				// When the user clicks the button, open the modal
				modal.style.display = "block";
            	}

           function jobDetails()
           {

               var xmlhttp = new XMLHttpRequest();
                xmlhttp.open("GET", "/jobs/details/", true);
                xmlhttp.onreadystatechange = function()
                {
                    if (this.readyState == 4 && this.status == 200)
                    {
                        myDetails=xmlhttp.responseText;
                        //alert(myDetails);
                        //document.write(myList);
                        //alert(myList.substring(1,myList.length-1));
                        myDetails=myDetails.substring(1,myDetails.length-1);
                        gg=myDetails.split("},");
                        myDetails=[];
                        //document.write(gg);
                        for(var i=0;i<gg.length;i++)
                        {
                            if(i==gg.length-1)
                            {
                                myDetails.push(JSON.parse(gg[i]));
                            }
                            else
                            myDetails.push(JSON.parse(gg[i]+'}'));

                            //alert(gg[i]+'}');
                            //alert(JSON.parse(gg[i]+'}'));
                            //alert(myList[i]);
                        }
                        //document.write(myList);
                        flag = 1;
                        buildDetailsTable('#detailsDataTable');
                    }
                };
               xmlhttp.send(null);
           }


        function buildDetailsTable(selector) {
            var table = document.getElementById("detailsDataTable");
            while(table.rows.length>0){
                    table.deleteRow(0);
            }

          var columns = addAllColumnHeadersDetails(selector);
          //alert(columns);
            var k=0;
            //alert(myDetails.length);
          for (var i = 0; i < myDetails.length; i++) {
            var row$ = $('<tr class="trr"/>');
            var flag=0;

            var msg="";
            for (var colIndex = 0; colIndex < columns.length; colIndex++) {
              var cellValue = myDetails[i][columns[colIndex]];
                //alert(cellValue);

              if(flag==0)
              {
                msg=cellValue;
                //alert(msg);
                flag=1;
              }
              if (cellValue == null)
                cellValue = "";
              row$.append($('<td class="tdd"/>').html(cellValue));
            }
            $(selector).append(row$);
          }

        }


  function addAllColumnHeadersDetails(selector) {
      var columnSet = [];
      var headerTr$ = $('<tr class="trr"/>');
      var k = 0;
      for (var i = 0; i < myDetails.length; i++) {
          var rowHash = myDetails[i];

          for (var key in rowHash) {
              if ($.inArray(key, columnSet) == -1) {
                  columnSet.push(key);
                  var index = getRealheader1(key);

                  if (index != -1)
                      key = REALHEADERS1[index];
                  //alert(key);
                  headerTr$.append($('<th class="thh"/>').html(key));
              }
          }
      }
      $(selector).append(headerTr$);
      //alert(columnSet);
      return columnSet;
  }


	       function createPolicy() {
	        var xmlhttp = new XMLHttpRequest();
	        var currentDate = $( "#startdatepicker" ).datepicker( "getDate" );
			var startdate=document.getElementById("startdatepicker").value;
			var startres=startdate.split("-");
			var currentDate = $( "#enddatepicker" ).datepicker( "getDate" );
			var enddate=document.getElementById("enddatepicker").value;
			var endres=enddate.split("-");
               //alert("Policy has been created.");
               document.getElementById('message').innerHTML = "<strong>Your policy has been created</strong>";
               document.getElementById('policyModal').style.display = "none";
               document.getElementById('alertModal').style.display = "block";
	        xmlhttp.open("GET", "/policy/create/startDay=" + startres[0] + "&startMonth=" +
                    startres[1] + "&startYear=" + startres[2] + "&endDay=" + endres[0] + "&endMonth=" + endres[1] +
                    "&endYear=" + endres[2] + "&bckrotation=" + document.getElementById("bckrotation").value +
                    "&policyName=" + document.getElementById("policyName").value, true);

	        xmlhttp.onreadystatechange = function()
	        {
	            if (this.readyState == 4 && this.status == 200)
	            {

	            }
	        };

        	xmlhttp.send(null);
    }
    </script>

<script>
  $( function() {

	$( "#startdatepicker" ).datepicker({
	  dateFormat: "dd-mm-yy"
	});
	//alert(document.getElementById("datepicker").value);
  } );

   $( function() {

	$( "#enddatepicker" ).datepicker({
	  dateFormat: "dd-mm-yy"
	});
	//alert(document.getElementById("datepicker").value);
  } );

  </script>


<body>


	<nav class="navbar navbar-bg" >
		<div class="container-fluid">

		<!--Header-->
		<div class="navbar-header">

			<a class="navbarButtons navbar-brand" href="/" style="font-family:Oswald;">
				<span class="glyphicon glyphicon-home"></span>
				<b>HOME</b>
			</a>
		</div>

		<!--Items-->
		<div class="collapse navbar-collapse" id="topNavBar" >

			<ul  class="nav navbar-nav" >
				<li class="active" >
					<a id="KVMlink" class=" links" href="/config/kvm/">
						<img id="iconKVM" src="\static\backup\images\iconKVM.png" style="height:20px;width:20px;">
						<b> KVM </b>
					</a>
				</li>
				<li class="active">
					<a id="ESXlink" class="links" href="/config/esx/">
						<img id="iconESX" src="\static\backup\images\iconESX.png" style="height:20px;width:20px;">
						<b> ESX </b>
					</a>
				</li>
                <li class="active">
					<a id="HYPERVlink" class="links" href="/config/hyperv/">
						<img id="iconHYPERV" src="\static\backup\images\iconHYPERV.png" style="height:20px;width:20px;">
						 <b> HyperV </b>
					</a>
				</li>
			</ul>

		<form class="navbar-form navbar-left" role="search" method="get" action="javascript:search()">
				<div class="form-group">
					<input type="text" id ="searchbar" class="form-control" name="q" value="">
				</div>
				<button type="button" class="btn btn-default" onclick="search();">Search</button>
			</form>

			<ul class="nav navbar-nav navbar-right">
                <li class="active">
					<a class="links" href="/jobs/">
						<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>&nbsp; Log
					</a>
				</li>
				<li class="active">
					<a class="links" href="javascript:OpenModal()">
						<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>&nbsp; Create Policy
					</a>
				</li>
			</ul>
		</div>
		</div>
	</nav>

	<div id="policyModal" class="modal">
  <!-- Modal content -->
	   <div class="modal-content">
		    <span class="close" id="closePol">&times;</span>
		    <p>Create a New Policy:</p>
				<fieldset>
					<legend style="color:#337ab7"> Policy Parameters: </legend>
						<p>Name: <input type="text" id="policyName"> </p>
						<p>Start Date: <input type="text" id="startdatepicker" class="dateClass"></p>
						<p>End Date: <input type="text" id="enddatepicker" class="dateClass"></p>
						<p><b>Backup Rotation Count:</b></p>
						<input type="text" id="bckrotation" value="2"><br><br>
						<div style="text-align: center;margin-right:10px">
                         <button type="button" class="button" onclick="createPolicy()" ><span>Submit</span></button>
                        </div>
				</fieldset>
		</div>
	</div>

    <div id="alertModal" class="modal">
  <!-- Modal content -->
	   <div class="modal-content">
		    <span class="close" id="closeAlert">&times;</span>
           <div style="text-align: center"><span id="message"></span></div>
       	</div>
	</div>


	<!--<div class="col-md-3 column margintop20" style="margin-top: 50px; ">
	    <ul class="nav nav-pills nav-stacked">
		  <li class="active" ><a><strong>Hypervisors</strong></a></li>
		  <li><a href="http://127.0.0.1:8000/config/esx/"><span class="glyphicon glyphicon-chevron-right"></span> ESX</a></li>
		  <li><a href="http://127.0.0.1:8000/config/kvm/"><span class="glyphicon glyphicon-chevron-right"></span> KVM</a></li>
		  <li><a href="http://127.0.0.1:8000/config/hyperv/"><span class="glyphicon glyphicon-chevron-right"></span> HyperV</a></li>
		 </ul>
	</div> -->
    <script>



    </script>

	{% block body %}
	{% endblock %}
</body>
</html>


