{% extends 'backup/base.html' %}
{% block title %}VM Management{%endblock%}

{%block body%}
<style type="text/css">

 .modalloader {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    font-family: verdana;
    }
/* Modal Content */
.modal-contentloader {
    background-color: #FFFFFF;
	margin:auto;
    padding: 20px;
    border: 1px solid #888;
    width:20%;
    font-size: 12px;
     border-radius: 15px 15px;
}


.container1 { margin: 0 auto; overflow: hidden;}
.content1 {margin:0 auto; padding-top:20px; padding-bottom:20px;}


/* STOP ANIMATION */

.stop {
	-webkit-animation-play-state:paused;
	-moz-animation-play-state:paused;
}

.ball {
    background-color: rgba(0,0,0,0);
    border: 5px solid rgba(0,183,229,0.9);
    opacity: .9;
    border-top: 5px solid rgba(0,0,0,0);
    border-left: 5px solid rgba(0,0,0,0);
    border-radius: 50px;
    box-shadow: 0 0 10px #2187e7;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    -moz-animation: spin .5s infinite linear;
    -webkit-animation: spin .5s infinite linear;
}

.ball1 {
    background-color: rgba(0,0,0,0);
    border: 5px solid rgba(0,183,229,0.9);
    opacity: .9;
    border-top: 5px solid rgba(0,0,0,0);
    border-left: 5px solid rgba(0,0,0,0);
    border-radius: 50px;
    box-shadow: 0 0 15px #2187e7;
    width: 30px;
    height: 30px;
    margin: 0 auto;
    position: relative;
    top: -50px;
    -moz-animation: spinoff .5s infinite linear;
    -webkit-animation: spinoff .5s infinite linear;
}

@-moz-keyframes spin {
    0% {
        -moz-transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(360deg);
    }
}

@-moz-keyframes spinoff {
    0% {
        -moz-transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(-360deg);
    }
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@-webkit-keyframes spinoff {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(-360deg);
    }
}
</style>
<style>
    form {
            margin: 0 0 0 43%;
            padding: 10px;
            width: 20%;
          }

    input {
        padding: 5px;
        width: 90%;
    }
#excelDataTable, #backupListExcelDataTable {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
        /*border:1px solid black !important;
        padding: 10px !important;
        text-align: center;
        border-width: 2px !important;
        border-spacing: 10px !important;*/
    }
    .trr{
        text-align: center;
    }
    .thh{
         border: 1px solid #ddd;
    padding: 8px;
     padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #337ab7;
    color: white;
    }
        /*border:1px solid black !important;
        padding: 10px !important;
        text-align: center;
        border-width: 2px !important;
        border-spacing: 10px !important;*/

    #excelDataTable tr:nth-child(even){background-color: #f0f0f0;}

    #excelDataTable tr:hover {background-color: #ddd;}

    #backupListExcelDataTable tr:nth-child(even){background-color: #f0f0f0;}

    #backupListExcelDataTable tr:hover {background-color: #ddd;}

        /*border:1px solid black !important;
        padding: 10px !important;
        text-align: center;
        border-width: 2px !important;
        border-spacing: 10px !important;*/

    .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    font-family: verdana;
    }
/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 20%;
    font-size: 12px;
}
.modal1 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    font-family: verdana;
    }
/* Modal Content */
.modal-content1 {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    font-size: 20px;
}
/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
select option:checked,
select option:hover {
    box-shadow: 0 0 10px 100px #D3D3D3 inset;
}

</style>

<script type = "text/javascript">

//icon change script----
document.getElementById("iconESX").src = "\\static\\backup\\images\\iconESXblue.png";
//icon changed.

var FAKEHEADERS=["VM_id","VM_name","hyper_type","state","guest_name","ip","profile","details","backup_name","status"];
    var REALHEADERS=["VIRTUAL MACHINE ID","VIRTUAL MACHINE NAME","HYPERVISOR","STATE","GUEST NAME","IP","PROFILE","DETAILS","BACKUP NAME","STATUS"];
document.getElementById("ESXlink").style.backgroundColor='#FFFFFF';
    document.getElementById("ESXlink").style.color='#337ab7';
var ip,user,pass;
 getDetails();
function getDetails()
    {
        //alert("HELLO");
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.open("GET", "/config/esx/getdetails", true);
        xmlhttp.onreadystatechange = function()
        {
            if (this.readyState == 4 && this.status == 200)
            {
               //alert(xmlhttp.responseText);
                var resp=xmlhttp.responseText;
                if(resp=="NOT FOUND")
                {
                    alert("Enter the details first! (REDIRECT TO CONFIG PAGE)");
                    return;
                }

                var details=resp.split("$$");
                ip=details[0];
                user=details[1];
                pass=details[2];
                list();
            }
        };
        xmlhttp.send(null);

    }
function getRealheader(fakeheader)
    {

        for(var i=0;i<FAKEHEADERS.length;i++)
        {
            if(FAKEHEADERS[i]==fakeheader)
                return i;
        }
        return -1;
    }
    var myList = [];
    var myBackups=[];
    var autocompletelist=[];
    function list() {
var xmlhttp = new XMLHttpRequest();
        if(ip!=null)
            xmlhttp.open("GET", "/vm/esx/list/servip=" + ip+"&servuser=" + user +"&servpaswd=" + pass, true);
        else
            xmlhttp.open("GET", "/vm/esx/list/servip=" + document.getElementById("servip").value+ "&servuser=" + document.getElementById("servuser").value +"&servpaswd=" + document.getElementById("servpaswd").value, true);

        xmlhttp.onreadystatechange = function()
        {
              if (this.readyState == 4 && this.status == 500)
            {
                document.getElementById("loader").style.display="none";
                document.getElementById('message').innerHTML = "<strong>Internal Server Error. Try again later.</strong>";
               document.getElementById('policyModal').style.display = "none";
               document.getElementById('alertModal').style.display = "block";
            }
            if (this.readyState == 4 && this.status == 200)
            {
		document.getElementById("loader").style.display="none";
         myList=xmlhttp.responseText;
                //alert(xmlhttp.responseText);
                //document.write(myList);
                //alert(myList.substring(1,myList.length-1));
                myList=myList.substring(1,myList.length-1);
                gg=myList.split("},");
                myList=[];
                //document.write(gg);
                for(var i=0;i<gg.length;i++)
                {
                    if(i==gg.length-1)
                    {
                        myList.push(JSON.parse(gg[i]));
                    }
                    else
                    myList.push(JSON.parse(gg[i]+'}'));

                    //alert(gg[i]+'}');
                    //alert(JSON.parse(gg[i]+'}'));
                    //alert(myList[i]);
                }
                //document.write(myList);
                buildHtmlTable('#excelDataTable');
                //xmlResponse=xmlhttp.responseXML;
                //xmlDE=xmlResponse.documentElement;
                //message = xmlDE.firstChild.data;
                for(var k=0;k<myList.length;k++)
                {
                    autocompletelist.push(myList[k]['VM_name']);
                }

                $("#searchbar").autocomplete(
                    { source:  autocompletelist }
                );

            }
        };
        xmlhttp.send(null);
document.getElementById("loader").style.display="block";

    }

    function search()
    {
         var tblen= document.getElementById("excelDataTable").rows.length;
        for(var i=1;i<tblen;i++)
             document.getElementById("excelDataTable").rows[i].style.color="BLACK";

         if(document.getElementById("searchbar").value.toString()=="")
            return;

        for(var i=1;i<tblen;i++)
             document.getElementById("excelDataTable").rows[i].style.color="BLACK";
        var flag=0;
        var tblen= document.getElementById("excelDataTable").rows.length;
        for(var i=0;i<tblen;i++)
        {

            //alert("sadsd");
            str=document.getElementById("excelDataTable").rows[i].cells[0].innerHTML;
            if(str.toLowerCase().includes(document.getElementById("searchbar").value.toString().toLowerCase()))
            {
                document.getElementById("excelDataTable").rows[i].style.color="RED";
                if(flag==0)
                {
                    flag=1;
                    document.getElementById("excelDataTable").rows[i-1].scrollIntoView(true);
                }
            }
        }
    }
    function takeBackup() {
        var xmlhttp = new XMLHttpRequest();
        var IDstr = document.getElementById("policyList").value;
        var count;
        for(var i=0; i<policyParams.length;i++)
        {
            if(policyParams[i]['name']==IDstr)
            {
                count = i;
                break;
            }
        }
        xmlhttp.open("GET", "/policy/esx/policyName=" + policyParams[count]['name'] + "&vmID=" + document.getElementById("VMName").value, true);
        //alert(JSON.stringify({VM_name: document.getElementById("VMName").value, backup_name: "ajinkya"}));
        //xmlhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        xmlhttp.onreadystatechange = function()
        {
            if (this.readyState == 4 && this.status == 500)
            {
                document.getElementById("loader").style.display="none";
                document.getElementById('message').innerHTML = "<strong>Internal Server Error. Try again later.</strong>";
               document.getElementById('policyModal').style.display = "none";
               document.getElementById('alertModal').style.display = "block";
            }
            if (this.readyState == 4 && this.status == 200)
            {
                alert("Your policy has been submitted.");
                document.getElementById("myModal").style.display = "none";
                //xmlResponse=xmlhttp.responseXML;
                //xmlDE=xmlResponse.documentElement;
                //message = xmlDE.firstChild.data;
            }
        };
        //var csrftoken = getCookie('csrftoken');
        //var now=new Date();
        //JSON.stringify({"csrfmiddlewaretoken":csrftoken})
        xmlhttp.send(null);
    }

    function buildHtmlTable(selector) {
    var table = document.getElementById("excelDataTable");
    while(table.rows.length>0){
            table.deleteRow(0);
    }

  var columns = addAllColumnHeaders(myList, selector);
  //alert(columns.length);
    var k=0;
  for (var i = 0; i < myList.length; i++) {
    var row$ = $('<tr class="trr"/>');
    var flag=0;

    var msg="";
    for (var colIndex = 0; colIndex < columns.length; colIndex++) {
        //alert(columns[colIndex]);
      var cellValue = myList[i][columns[colIndex]];


      if(flag==0)
      {
        msg=cellValue;
        //alert(msg);
        flag=1;
      }
      if (cellValue == null)
        cellValue = "";
      row$.append($('<td class="tdd"/>').html(cellValue));


    }
     var string="<button class=\" buttontable\" onclick=\"myFunction('"+msg+"')\" >Backup</button>";
        //alert(string);
        //<button onclick="myFunction()">Click me</button>
        row$.append($('<td class="tdd"/>').html(string));
        $(selector).append(row$);
        string="<button class=\" buttontable\"onclick=\"listBackups('"+msg+"')\"> List Backups</button>";
      //alert(string);
      //<button onclick="myFunction()">Click me</button>
      row$.append($('<td class="tdd"/>').html(string));
      $(selector).append(row$);
  }
}

  function buildBackupListTable(selector) {

    var table = document.getElementById("backupListExcelDataTable");
    while(table.rows.length>0){
            table.deleteRow(0);
    }

  var columns = addAllColumnHeadersBackupList(myBackups, selector);
  //alert(columns);
  //alert(columns.length);
    var k=0;
    //alert(myBackups[0]['VM_name']);
      var string;
      for (var i = 0; i < myBackups.length; i++) {
          var row$ = $('<tr class="trr"/>');
          var flag = 0;

          var msg = "";
          flag=0;
          for (var colIndex = 0; colIndex < columns.length; colIndex++) {
              var cellValue = myBackups[i][columns[colIndex]];
              //alert(cellValue);

              if (flag == 1) {
                  msg = cellValue;
                  //alert(msg);

              }
              if(flag==2)
              {

                  if(cellValue!='ACTIVE')
                      string = " ";
                  else
                      string = "<button class=\" buttontable\"onclick=\"restore('" + msg + "')\"> Restore</button>";
              }
              //alert(cellValue);
              if (cellValue == null)
                  cellValue = "";

               row$.append($('<td class="tdd"/>').html(cellValue));



              $(selector).append(row$);
                flag++;
          }

          row$.append($('<td class="tdd"/>').html(string));

              $(selector).append(row$);
      }
}

function restore(msg)
{
    var xmlhttp = new XMLHttpRequest();
    msg=encodeURI(msg);
    //alert(msg);
    //alert("/vm/kvm/restore/backupid=" + msg + "&vmname=" + VMNAME);
    xmlhttp.open("POST", "/vm/esx/restore/backupname=" + msg, true);

    xmlhttp.onreadystatechange = function()
    {
      if (this.readyState == 4 && this.status == 500)
        {
            document.getElementById("loader").style.display="none";
            document.getElementById('message').innerHTML = "<strong>Internal Server Error. Try again later.</strong>";
           document.getElementById('policyModal').style.display = "none";
           document.getElementById('alertModal').style.display = "block";
        }
        if (this.readyState == 4 && this.status == 200)
        {
            //alert(xmlhttp.responseText);
            alert("VM is restored.");
        }
    };
     xmlhttp.send(null);
};




// Adds a header row to the table and returns the set of columns.
// Need to do union of keys from all records as some records may not contain
// all records.
function addAllColumnHeaders(myList, selector) {
  var columnSet = [];
  var headerTr$ = $('<tr class="trr"/>');
  var k=0;
  for (var i = 0; i < myList.length; i++) {
    var rowHash = myList[i];

    for (var key in rowHash) {
      if ($.inArray(key, columnSet) == -1) {
        columnSet.push(key);
     	var index=getRealheader(key);

        if(index!=-1)
        key=REALHEADERS[index];
        headerTr$.append($('<th class="thh"/>').html(key));
      }
    }
  }
  headerTr$.append($('<th class="thh"/>').html('Action'));
  $(selector).append(headerTr$);
  headerTr$.append($('<th class="thh"/>').html('List Backups'));
  return columnSet;
}


function addAllColumnHeadersBackupList(myBackups, selector) {
  var columnSet = [];
  var headerTr$ = $('<tr class="trr"/>');
  var k=0;
  for (var i = 0; i < myBackups.length; i++) {
    var rowHash = myBackups[i];

    for (var key in rowHash) {
      if ($.inArray(key, columnSet) == -1) {
        columnSet.push(key);
        var index=getRealheader(key);

        if(index!=-1)
        key=REALHEADERS[index];
        headerTr$.append($('<th class="thh"/>').html(key));

      }
    }
  }
  headerTr$.append($('<th class="thh"/>').html('Action'));
  $(selector).append(headerTr$);
  return columnSet;
  //alert(columnSet);
}

policyParams=[]

function myFunction(msg)
{
//alert(msg);
var selector=document.getElementById("policyList");
var length = selector.options.length;
for(var i=0; i<length;i++)
{
    selector.remove(0);
}
var modalOpen = document.getElementById('myModal');
//var span = document.getElementsByClassName("close")[0];
modalOpen.style.display = "block";
document.getElementById('VMName').value = msg;
var xmlhttp = new XMLHttpRequest();
//alert("HI");
xmlhttp.open("GET", "/policy/list/", true);
xmlhttp.onreadystatechange = function()
{
  if (this.readyState == 4 && this.status == 500)
    {
        document.getElementById("loader").style.display="none";
        document.getElementById('message').innerHTML = "<strong>Internal Server Error. Try again later.</strong>";
       document.getElementById('policyModal').style.display = "none";
       document.getElementById('alertModal').style.display = "block";
    }
   if (this.readyState == 4 && this.status == 200)
    {
        //alert(policyParams[0]['name']);
        policyParams=xmlhttp.responseText;
        policyParams=policyParams.substring(1,policyParams.length-1);
        gg=policyParams.split("},");
        policyParams=[];
        for(var i=0;i<gg.length;i++)
        {
            if(i==gg.length-1)
            {
                policyParams.push(JSON.parse(gg[i]));
            }
            else
                policyParams.push(JSON.parse(gg[i]+'}'));
        }
        var select = document.getElementById('policyList');
        for(var i=0;i<policyParams.length;i++){
            var option = document.createElement('option');
            option.text = option.value = policyParams[i]['name'];
            select.options.add(option, 0);
        }
        //alert(policyParams[0]['name']);

    }
}
xmlhttp.send(null);
/*span.onclick = function() {
    modal.style.display = "none";
}*/
}

function listBackups(msg){
    var Table = document.getElementById("backupListExcelDataTable");
    Table.innerHTML = "";
    var xmlhttp = new XMLHttpRequest();
    xmlhttp.open("GET", "/vm/esx/listbackups/servip=" + ip+ "&servuser=" + user +"&servpaswd=" +pass + "&VMName=" + msg, true);
    xmlhttp.onreadystatechange = function()
    {
      if (this.readyState == 4 && this.status == 500)
        {
            document.getElementById("loader").style.display="none";
            document.getElementById('message').innerHTML = "<strong>Internal Server Error. Try again later.</strong>";
           document.getElementById('policyModal').style.display = "none";
           document.getElementById('alertModal').style.display = "block";
        }
        if (this.readyState == 4 && this.status == 200)
        {
		    document.getElementById("loader").style.display="none";
            myBackups=xmlhttp.responseText;
            document.getElementById("TITLE").innerHTML="<b>BACKUP LIST</b>";

            if(xmlhttp.responseText.length==2)
            {
                document.getElementById("TITLE").innerHTML="<b>NO BACKUPS FOUND</b>";
                var modalOpen = document.getElementById('listBackupsModal');
                //var span = document.getElementsByClassName("close")[0];
                modalOpen.style.display = "block";
                return;
            }
            myBackups=myBackups.substring(1,myBackups.length-1);
            gg=myBackups.split("},");
            myBackups=[];
            //document.write(gg);
            for(var i=0;i<gg.length;i++)
            {
                if(i==gg.length-1)
                {
                    myBackups.push(JSON.parse(gg[i]));
                }
                else
                myBackups.push(JSON.parse(gg[i]+'}'));

                //alert(gg[i]+'}');
                //alert(JSON.parse(gg[i]+'}'));
                //alert(myList[i]);
            }
            //alert(myBackups);
            //document.write(myList);
            //xmlResponse=xmlhttp.responseXML;
            //alert("Asd");
            buildBackupListTable('#backupListExcelDataTable');
            var modalOpen = document.getElementById('listBackupsModal');
            //var span = document.getElementsByClassName("close")[0];
            modalOpen.style.display = "block";


            //xmlDE=xmlResponse.documentElement;
            //message = xmlDE.firstChild.data;
        }
    };
    xmlhttp.send(null);
	document.getElementById("loader").style.display="block";


}

</script>

<!--
<form class="details" style="margin-top: 50px">
    <fieldset>
       <legend style="color:#337ab7">ESX Virtual Machines:</legend>
		<p><b>VCentre IP:</b></p>
		<input type="text" id="servip" value="192.168.32.98"><br><br>
		<p><b>VCentre Password:</b></p>
		<input type="text" id="servpaswd" value="gsLab123"><br><br>
		<p><b>VCentre User:</b></p>
		<input type="text" id="servuser" value="sumitt@ad2lab.com"><br><br>
		<div style="text-align: center;margin-right:10px">
             <button type="button" class="button" onclick="list()" ><span>Submit</span></button>
        </div>
    </fieldset>
</form>
-->

<br>
<br>
<div id="loader" class="modalloader" >

  <div class="modal-contentloader">
      <div class="container1">
	<div class="content1">
    <div class="ball"></div>
        <br><br>
    <p style="text-align:center;font-family:verdana;font-size:18px;color:#337ab7;">LOADING</p>
    </div>
</div>
  </div>

</div>

<br> <br>
    <fieldset>
        <legend style="color:#337ab7" align="center">ESX Virtual Machines:</legend>
    </fieldset>

<table id="excelDataTable" style="width: 95%; margin-left: auto;margin-right: auto;" ></table>


<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close" id="closeBack">&times;</span>
    <p>Backup VM: </p>
        <fieldset>
            <legend style="color:#337ab7"> Options: </legend>
                <p><b>VM Name:</b></p>
                <input type="text" id="VMName" value=VMName style="width:80%" readonly><br><br>
                <p><b>Policy:</b></p>
                <select id="policyList" style="width:80%" size="5"></select><br><br><br>
                <label>Start Date: </label> <label id="startDate"></label><br><br>
                <label>End Date: </label> <label id="endDate"></label><br><br>
                <label>Maximum number of backups: </label> <label id="rotationCount"></label><br><br><br>
                <div style="text-align: center;margin-right:10px">
             <button type="button" class="button" onclick="takeBackup()" ><span>Submit</span></button>
        </div>
        </fieldset>
  </div>

</div>

<div id="listBackupsModal" class="modal1" >

  <div class="modal-content1">
    <span class="close" id="closeBack">&times;</span>
      <div style="text-align: center"><span id="TITLE"><b>BACKUP LIST</b></span></div>
    <table id="backupListExcelDataTable" border="1"></table>
  </div>

</div>

<script>
// Get the modal
var span1 = document.getElementsByClassName("close")[0];
var span2=document.getElementsByClassName("close")[1];
var span3=document.getElementsByClassName("close")[2];
var modalPol = document.getElementById('policyModal');
var modalBack = document.getElementById('myModal');
var modalbacklist=document.getElementById('listBackupsModal');
var modalAlert=document.getElementById('alertModal');
var span4=document.getElementsByClassName("close")[3];
//var span5=document.getElementsByClassName("close")[4];

/*span5.onclick = function() {
    alert("span5");
    //modalAlert.style.display = "none";
    modalbacklist.style.display = "none";
    modalPol.style.display = "none";
    modalBack.style.display = "none";


};*/

span4.onclick = function() {
    modalAlert.style.display = "none";
    modalbacklist.style.display = "none";
    modalPol.style.display = "none";
    modalBack.style.display = "none";
};
span3.onclick = function() {
   modalAlert.style.display = "none";
    modalbacklist.style.display = "none";
    modalPol.style.display = "none";
    modalBack.style.display = "none";
};
span1.onclick = function() {
    modalAlert.style.display = "none";
    modalbacklist.style.display = "none";
    modalPol.style.display = "none";
    modalBack.style.display = "none";
};

span2.onclick = function() {
     modalbacklist.style.display = "none";
    modalPol.style.display = "none";
    modalBack.style.display = "none";
    modalAlert.style.display = "none";
};
// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    //alert("window");
    if (event.target == modalBack) {
        modalBack.style.display = "none";
    }
    if (event.target == modalPol) {
            modalPol.style.display = "none";
        }
    if (event.target == modalbacklist) {
        modalbacklist.style.display = "none";
    }
    if (event.target == modalAlert) {
        modalAlert.style.display = "none";
    }
};

$(document).ready(function(event) {
    $('select').on('mouseenter', 'option', function(e) {
        var name=this.value;
        for(var i=0;i<policyParams.length;i++){
        if(policyParams[i]['name']==name)
        {
            //alert(policyParams[i][1]);
            document.getElementById("startDate").innerHTML = policyParams[i]['start_date'];
            document.getElementById("endDate").innerHTML = policyParams[i]['end_date'];
            document.getElementById("rotationCount").innerHTML = policyParams[i]['freq_count'];
        }
    }
        //alert(this.value, 'Yeah');
        // this refers to the option so you can do this.value if you need..
    });
});

$(document).ready(function(event) {
    $('select').on('mouseleave', function(e) {
        //alert(document.getElementById('policyList').value);
        var name=document.getElementById('policyList').value;
        for(var i=0;i<policyParams.length;i++){
        if(policyParams[i]['name']==name)
        {
            //alert(policyParams[i][1]);
            document.getElementById("startDate").innerHTML = policyParams[i]['start_date'];
            document.getElementById("endDate").innerHTML = policyParams[i]['end_date'];
            document.getElementById("rotationCount").innerHTML = policyParams[i]['freq_count'];
        }
    }
        //alert(this.value, 'Yeah');
        // this refers to the option so you can do this.value if you need..
    });
});



$(document).ready(function() {

	$('.ball, .ball1').removeClass('stop');
		$('.trigger').click(function() {
				$('.ball, .ball1').toggleClass('stop');
		});
});

</script>

{% endblock %}




