{% extends 'backup/base.html' %}
{% block title %}VM Management{%endblock%}

{%block body%}

<style>
    form {
            margin: 0 0 0 43%; 
            padding: 10px;
            width: 20%;
          }
          
    input {
        padding: 5px;
        width: 90%;
    }
    #excelDataTable {
        border:1px solid black !important;
        padding: 10px !important;
        text-align: center; 
        border-width: 2px !important;
        border-spacing: 10px !important;
    }
    .thh{
        border:1px solid black !important;
        padding: 10px !important;
        text-align: center; 
        border-width: 2px !important;
        border-spacing: 10px !important;
    }
    .tdd{
        border:1px solid black !important;
        padding: 10px !important;
        text-align: center; 
        border-width: 2px !important;
        border-spacing: 10px !important;
    }
    .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    font-family: verdana;
    }
/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 20%;
    font-size: 12px;
}
/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
select option:checked,
select option:hover {    
    box-shadow: 0 0 10px 100px #D3D3D3 inset;
}

</style>

<script type = "text/javascript">
    var myList = [];
    function list() {

        var xmlhttp = new XMLHttpRequest();
        xmlhttp.open("GET", "http://127.0.0.1:8000/vm/kvm/list/servip=" + document.getElementById("servip").value+ "&servuser=" + document.getElementById("servuser").value +"&servpaswd=" + document.getElementById("servpaswd").value, true);
        xmlhttp.onreadystatechange = function() 
        {
            if (this.readyState == 4 && this.status == 200) 
            {
                myList=xmlhttp.responseText;
                //alert(xmlhttp.responseText);
                //document.write(myList);
                //alert(myList.substring(1,myList.length-1));
                myList=myList.substring(1,myList.length-1);
                gg=myList.split("},");
                myList=[];
                //document.write(gg);
                for(var i=0;i<gg.length;i++)
                {
                    if(i==gg.length-1)
                    {
                        myList.push(JSON.parse(gg[i]));
                    }
                    else
                    myList.push(JSON.parse(gg[i]+'}'));
                    
                    //alert(gg[i]+'}');
                    //alert(JSON.parse(gg[i]+'}'));
                    //alert(myList[i]);
                }
                //document.write(myList);
                buildHtmlTable('#excelDataTable');
                //xmlResponse=xmlhttp.responseXML;
                //xmlDE=xmlResponse.documentElement;
                //message = xmlDE.firstChild.data;
            }
        };
        xmlhttp.send(null);
    }
    function takeBackup() {
        var xmlhttp = new XMLHttpRequest();
        var IDstr = document.getElementById("policyList").value;
        var ID=parseInt(IDstr);
        //alert(policyParams[ID-1]['id']);
        xmlhttp.open("GET", "http://127.0.0.1:8000/policy/kvm/policyID=" + policyParams[ID-1]['id'] + "&vmID=" + document.getElementById("VMName").value, true);
        //alert(JSON.stringify({VM_name: document.getElementById("VMName").value, backup_name: "ajinkya"}));
        //xmlhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        xmlhttp.onreadystatechange = function()     
        {
            if (this.readyState == 4 && this.status == 200) 
            {
                alert(xmlhttp.responseText);
                //xmlResponse=xmlhttp.responseXML;
                //xmlDE=xmlResponse.documentElement;
                //message = xmlDE.firstChild.data;
            }
        };
        //var csrftoken = getCookie('csrftoken');
        //var now=new Date();
        //JSON.stringify({"csrfmiddlewaretoken":csrftoken})
        xmlhttp.send(null);
    }

    function buildHtmlTable(selector) {
    var table = document.getElementById("excelDataTable");
    while(table.rows.length>0){
            table.deleteRow(0);
    }
  var columns = addAllColumnHeaders(myList, selector);
    var k=0;
  for (var i = 0; i < myList.length; i++) {
    var row$ = $('<tr/>');
    var flag=0;
    
    var msg="";
    for (var colIndex = 0; colIndex < columns.length; colIndex++) {
      var cellValue = myList[i][columns[colIndex]];
      
      
      if(flag==0)
      {
        msg=cellValue;
        //alert(msg);
        flag=1;
      }
      if (cellValue == null) cellValue = "";
      row$.append($('<td/>').html(cellValue));
    }
    var string="<button onclick=\"myFunction('"+msg+"')\">Backup</button>";
    //alert(string);
    //<button onclick="myFunction()">Click me</button>
    row$.append($('<td class="tdd"/>').html(string));
    $(selector).append(row$);
  }
}
// Adds a header row to the table and returns the set of columns.
// Need to do union of keys from all records as some records may not contain
// all records.
function addAllColumnHeaders(myList, selector) {
  var columnSet = [];
  var headerTr$ = $('<tr/>');
  var k=0;
  for (var i = 0; i < myList.length; i++) {
    var rowHash = myList[i];
    
    for (var key in rowHash) {
      if ($.inArray(key, columnSet) == -1) {
        columnSet.push(key);
        
        headerTr$.append($('<th class="thh"/>').html(key));
      }
    }
  }
  headerTr$.append($('<th class="thh"/>').html('Action'));
  $(selector).append(headerTr$);
  return columnSet;
}
policyParams=[]
function myFunction(msg)
{
//alert(msg);
var selector=document.getElementById("policyList");
var length = selector.options.length;
for(var i=0; i<length;i++)
{
    selector.remove(0);
}
var modalOpen = document.getElementById('myModal');
//var span = document.getElementsByClassName("close")[0];
modalOpen.style.display = "block";
document.getElementById('VMName').value = msg;
var xmlhttp = new XMLHttpRequest();
//alert("HI");
xmlhttp.open("GET", "http://127.0.0.1:8000/policy/list/", true);
xmlhttp.onreadystatechange = function() 
{
   if (this.readyState == 4 && this.status == 200) 
    {
        //alert("ASDASD");
        policyParams=xmlhttp.responseText;
        policyParams=policyParams.substring(1,policyParams.length-1);
        gg=policyParams.split("},");
        policyParams=[];
        for(var i=0;i<gg.length;i++)
        {
            if(i==gg.length-1)
            {
                policyParams.push(JSON.parse(gg[i]));
            }
            else
                policyParams.push(JSON.parse(gg[i]+'}'));
        }
        var select = document.getElementById('policyList');
        for(var i=0;i<policyParams.length;i++){
            var option = document.createElement('option');
            option.text = option.value = policyParams[i]['id'];
            select.options.add(option, 0);    
        }
        //alert(policyParams[0][1]);
        
    }
}
xmlhttp.send(null);
/*span.onclick = function() {
    modal.style.display = "none";
}*/
}

function fillPolicyLabel(name){
    //alert(policyParams[0][1]);
    for(var i=0;i<policyParams.length;i++){
        if(policyParams[i]['id']==name)
        {
            //alert(policyParams[i][1]);
            document.getElementById("startDate").innerHTML = policyParams[i]['start_date'];
            document.getElementById("endDate").innerHTML = policyParams[i]['end_date'];
            document.getElementById("rotationCount").innerHTML = policyParams[i]['freq_count'];
        }
    }
}
</script>


<form class="details" style="margin-top: 50px"> 
    <fieldset>
       <legend style="color:#337ab7">Openstack Configuration Details:</legend>
        <p><b>OpenStack IP:</b></p>
        <input type="text" id="servip" value="10.136.60.38"><br><br>
        <p><b>OpenStack username:</b></p>
        <input type="text" id="servuser" value="demo"><br><br>
        <p><b>OpenStack password:</b></p>
        <input type="text" id="servpaswd" value="root123"><br><br>
        <button type="button" onclick="list()" style="width:90%">Submit</button>
    </fieldset>
</form> 


<br>
<br>
<table id="excelDataTable" border="1"></table>

<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close" id="closeBack">&times;</span>
    <p>Backup VM: </p>
    <form,>
        <fieldset>
            <legend style="color:#337ab7"> Options: </legend>
                <p><b>VM Name:</b></p>
                <input type="text" id="VMName" value=VMName style="width:80%" readonly><br><br>
                <p><b>Policy:</b></p>
                <select id="policyList" style="width:80%" size="5"></select><br><br><br> 
                <label>Start Date: </label> <label id="startDate"></label><br><br>
                <label>End Date: </label> <label id="endDate"></label><br><br>
                <label>Maximum number of backups: </label> <label id="rotationCount"></label><br><br><br>
                <button type="button" onclick="takeBackup()" style="width:80%">Submit</button>
        </fieldset>
    </form> 
  </div>

</div>

<script>
// Get the modal
var span1 = document.getElementsByClassName("close")[0];
var span2=document.getElementsByClassName("close")[1];
var modalPol = document.getElementById('policyModal');
var modalBack = document.getElementById('myModal');
// Get the button that opens the modal
//var btn = document.getElementById("myBtn");
// Get the <span> element that closes the modal
// When the user clicks the button, open the modal 
/*btn.onclick = function() {
    modal.style.display = "block";
}*/
// When the user clicks on <span> (x), close the modal
span1.onclick = function() {
    //modalBack.style.display = "none";
    modalPol.style.display = "none";
}

span2.onclick = function() {
    modalBack.style.display = "none";
    //modalPol.style.display = "none";
}
// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modalBack) {
        modalBack.style.display = "none";
    }
    if (event.target == modalPol) {
            modalPol.style.display = "none";
        }
}

$(document).ready(function(event) {
    $('select').on('mouseenter', 'option', function(e) {
        var name=this.value;
        for(var i=0;i<policyParams.length;i++){
        if(policyParams[i]['id']==name)
        {
            //alert(policyParams[i][1]);
            document.getElementById("startDate").innerHTML = policyParams[i]['start_date'];
            document.getElementById("endDate").innerHTML = policyParams[i]['end_date'];
            document.getElementById("rotationCount").innerHTML = policyParams[i]['freq_count'];
        }
    }
        //alert(this.value, 'Yeah');
        // this refers to the option so you can do this.value if you need..
    });
});


</script>

{% endblock %}