{% extends 'backup/base.html' %}
{% block title %}VM Management{%endblock%}

{%block body%}

<style>
    form {
        margin: 0 0 0 43%; 
        padding: 10px;
        width: 20%;
      }
      
      input {
        padding: 5px;
        width: 90%;
      }
</style>

<script>
function showHint() {
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.open("GET", "http://127.0.0.1:8000/vm/hyperv/list/servip=" + document.getElementById("servip").value + "&servuser=" + document.getElementById("servuser").value + "&servpaswd=" + document.getElementById("servpaswd").value,true);
        xmlhttp.onreadystatechange = function() 
        {
            if (this.readyState == 4 && this.status == 200) 
            {
                alert(xmlhttp.responseText);
                //xmlResponse=xmlhttp.responseXML;
                //xmlDE=xmlResponse.documentElement;
                //message = xmlDE.firstChild.data;
            }
        };   
        xmlhttp.send(null);

}
</script>

<form>
    <fieldset>
        <legend style="color:#337ab7">HyperV Configuration Details:</legend>
            <p><b>Server IP:</b></p>
            <input type="text" id="servip" value="10.136.60.2"><br><br>
            <p><b>Server Username:</b></p>
            <input type="text" id="servuser" value="Administrator"><br><br>
            <p><b>Server Password:</b></p>
            <input type="text" id="servpaswd" value="testPasswd"><br><br>
            <button type="button" onclick="showHint()">Submit</button>
    </fieldset>
</form> 


{% endblock %}
