<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>VM Management</title>
	{% load staticfiles %}
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link href='https://fonts.googleapis.com/css?family=Slabo+27px' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="{% static 'backup/logon_style.css' %}"/>
	<script src="https://ajax.googleapis.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>

<body>

<div class="container">

    <form id="signup" method="post">
    {% csrf_token %}

        <div class="header">
        
            <h3>Sign In</h3>
            
        </div>
        
        <div class="sep"></div>

        <div class="inputs">
        
            <input type="email" placeholder="e-mail" autofocus />
        
            <input type="password" placeholder="Password" />
           
            
            <a id="submit">LOG IN</a>
        
        </div>

    </form>

</div>
​





</body>
