{% extends 'backup/base.html' %}
{% block title %}VM Management{%endblock%}

{%block body%}

<style>
    form {
            margin: 0 0 0 43%; 
            padding: 10px;
            width: 20%;
          }
          
    input {
        padding: 5px;
        width: 90%;
    }
  #excelDataTable {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
        /*border:1px solid black !important;
        padding: 10px !important;
        text-align: center; 
        border-width: 2px !important;
        border-spacing: 10px !important;*/
    }
    .trr{
        text-align: center;
    }
    .thh{
         border: 1px solid #ddd;
    padding: 8px;
     padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #337ab7;
    color: white;
    }
        /*border:1px solid black !important;
        padding: 10px !important;
        text-align: center; 
        border-width: 2px !important;
        border-spacing: 10px !important;*/
    }
    .tdd{
         border: 10px solid #ddd;
    padding: 8px;
    text-align: center;
    align-content: center;
    }
    #excelDataTable tr:nth-child(even){background-color: #f4f4f4;}

    #excelDataTable tr:hover {background-color: #ddd;}

        /*border:1px solid black !important;
        padding: 10px !important;
        text-align: center; 
        border-width: 2px !important;
        border-spacing: 10px !important;*/
    }
    .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    font-family: verdana;
    }
/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 20%;
    font-size: 12px;
}
/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
select option:checked,
select option:hover {    
    box-shadow: 0 0 10px 100px #D3D3D3 inset;
}

</style>

<script type = "text/javascript">
var FAKEHEADERS=["VM_id",  "VM_name", "hyper_type",  "state",   "guest_name",  "ip",  "profile", "details"];
   var REALHEADERS=["VIRTUAL MACHINE ID","VIRTUAL MACHINE NAME","HYPERVISOR","STATE","GUEST NAME","IP","PROFILE","DETAILS"];
   var myList = [];
   function getRealheader(fakeheader)
    {
        
        for(var i=0;i<FAKEHEADERS.length;i++)
        {
            if(FAKEHEADERS[i]==fakeheader)
                return i;
        }
        return -1;
    }

   var myList = [];
    function list() {
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.open("GET", "http://127.0.0.1:8000/vm/esx/list/servip=" + document.getElementById("servip").value + "&servpaswd=" + document.getElementById("servpaswd").value + "&servuser=" + document.getElementById("servuser").value, true);
        xmlhttp.onreadystatechange = function() 
        {
            if (this.readyState == 4 && this.status == 200) 
            {
                myList=xmlhttp.responseText;
                //document.write(myList);
                //alert(myList.substring(1,myList.length-1));
                myList=myList.substring(1,myList.length-1);
                gg=myList.split("},");
                myList=[];
                for(var i=0;i<gg.length;i++)
                {
                    if(i==gg.length-1)
                    {
                        myList.push(JSON.parse(gg[i]));
                    }
                    else
                    myList.push(JSON.parse(gg[i]+'}'));
                    
                }

                //document.write(myList);
                buildHtmlTable('#excelDataTable');
                //xmlResponse=xmlhttp.responseXML;
                //xmlDE=xmlResponse.documentElement;
                //message = xmlDE.firstChild.data;
            }
        };

        xmlhttp.send(null);
    }

    function takeBackup() {
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.open("POST", "http://127.0.0.1:8000/vm/esx/backup/servip=" + document.getElementById("servip").value + "&servpaswd=" + document.getElementById("servpaswd").value + "&servuser=" + document.getElementById("servuser").value, true);
        xmlhttp.setRequestHeader("Content-Type", "application/json");
        //alert(JSON.stringify({VM_name: document.getElementById("VMName").value, backup_name: "ajinkya"}));
        //xmlhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        xmlhttp.onreadystatechange = function()     
        {
            if (this.readyState == 4 && this.status == 200) 
            {
                //alert(xmlhttp.responseText);

                //xmlResponse=xmlhttp.responseXML;
                //xmlDE=xmlResponse.documentElement;
                //message = xmlDE.firstChild.data;
            }
        };

        //var csrftoken = getCookie('csrftoken');
        var now=new Date();
        //JSON.stringify({"csrfmiddlewaretoken":csrftoken})
        xmlhttp.send(JSON.stringify({VM_name: document.getElementById("VMName").value, backup_name: now.toString()}));
    }
    

     function buildHtmlTable(selector) {
    var table = document.getElementById("excelDataTable");
    while(table.rows.length>0){
            table.deleteRow(0);
    }
  var columns = addAllColumnHeaders(myList, selector);
    var k=0;
  for (var i = 0; i < myList.length; i++) {
    var row$ = $('<tr class="trr"/>');
    var flag=0;
    
    var msg="";
    for (var colIndex = 0; colIndex < columns.length; colIndex++) {
      var cellValue = myList[i][columns[colIndex]];
      
      
      if(flag==0)
      {
        msg=cellValue;
        //alert(msg);
        flag=1;
      }
      if (cellValue == null) cellValue = "";
      row$.append($('<td/>').html(cellValue));
    }
    var string="<button onclick=\"myFunction('"+msg+"')\">Backup</button>";
    //alert(string);
    //<button onclick="myFunction()">Click me</button>
    row$.append($('<td class="tdd"/>').html(string));
    $(selector).append(row$);
  }
}
// Adds a header row to the table and returns the set of columns.
// Need to do union of keys from all records as some records may not contain
// all records.
function addAllColumnHeaders(myList, selector) {
  var columnSet = [];
  var headerTr$ = $('<tr class="trr"/>');
  var k=0;
  for (var i = 0; i < myList.length; i++) {
    var rowHash = myList[i];
    
    for (var key in rowHash) {
      if ($.inArray(key, columnSet) == -1) {
        columnSet.push(key);
	var index=getRealheader(key);
        
        if(index!=-1)
        key=REALHEADERS[index];        
        headerTr$.append($('<th class="thh"/>').html(key));
      }
    }
  }
  headerTr$.append($('<th class="thh"/>').html('Action'));
  $(selector).append(headerTr$);
  return columnSet;
}


function myFunction(msg)
{
//alert(msg);
var modal = document.getElementById('myModal');
var span = document.getElementsByClassName("close")[0];
modal.style.display = "block";
document.getElementById('VMName').value = msg;
/*span.onclick = function() {
    modal.style.display = "none";
}*/

}



</script>


<form class="details" style="margin-top: 50px"> 
    <fieldset>
       <legend style="color:#337ab7">ESX Configuration Details:</legend>
		<p><b>VCentre IP:</b></p>
		<input type="text" id="servip" value="192.168.32.98"><br><br>
		<p><b>VCentre Password:</b></p>
		<input type="text" id="servpaswd" value="gsLab123"><br><br>
		<p><b>VCentre User:</b></p>
		<input type="text" id="servuser" value="sumitt@ad2lab.com"><br><br>
		<button type="button" onclick="list()" style="width:90%">Submit</button>
    </fieldset>
</form> 


<br>
<br>
<table id="excelDataTable" border="1"></table>

<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <p>Backup VM: </p>
    <form,>
        <fieldset>
            <legend style="color:#337ab7"> Options: </legend>
                <p><b>VM Name:</b></p>
                <input type="text" id="VMName" value=VMName style="width:80%" readonly><br><br>
                <p><b>Policy:</b></p>
                <select name="policyList" style="width:80%">
                    <option>Populate</option>
                    <option>Policy</option>
                    <option>Names</option>
                    <option>Here</option>
                </select><br><br><br>
                <button type="button" onclick="takeBackup()" style="width:80%">Submit</button>
        </fieldset>
    </form> 
  </div>

</div>

<script>
// Get the modal
var span1 = document.getElementsByClassName("close")[0];
var span2=document.getElementsByClassName("close")[1];
var modalPol = document.getElementById('policyModal');
var modalBack = document.getElementById('myModal');
// Get the button that opens the modal
//var btn = document.getElementById("myBtn");
// Get the <span> element that closes the modal
// When the user clicks the button, open the modal 
/*btn.onclick = function() {
    modal.style.display = "block";
}*/
// When the user clicks on <span> (x), close the modal
span1.onclick = function() {
    //modalBack.style.display = "none";
    modalPol.style.display = "none";
}

span2.onclick = function() {
    modalBack.style.display = "none";
    //modalPol.style.display = "none";
}
// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modalBack) {
        modalBack.style.display = "none";
    }
    if (event.target == modalPol) {
            modalPol.style.display = "none";
        }
}

$(document).ready(function(event) {
    $('select').on('mouseenter', 'option', function(e) {
        var name=this.value;
        for(var i=0;i<policyParams.length;i++){
        if(policyParams[i]['id']==name)
        {
            //alert(policyParams[i][1]);
            document.getElementById("startDate").innerHTML = policyParams[i]['start_date'];
            document.getElementById("endDate").innerHTML = policyParams[i]['end_date'];
            document.getElementById("rotationCount").innerHTML = policyParams[i]['freq_count'];
        }
    }
        //alert(this.value, 'Yeah');
        // this refers to the option so you can do this.value if you need..
    });
});


</script>

{% endblock %}
