{% extends 'backup/base.html' %}
{% block title %}VM Management{%endblock%}

{%block body%}

    <style>
        #detailsDataTable {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 90%;
            margin-left: auto;
            margin-right: auto;
        /*border:1px solid black !important;
        padding: 10px !important;
        text-align: center;
        border-width: 2px !important;
        border-spacing: 10px !important;*/
        }
        .trr{
            text-align: center;
        }
        .thh{
             border: 1px solid #ddd;
        padding: 8px;
         padding-top: 12px;
        padding-bottom: 12px;
        text-align: center;
        background-color: #337ab7;
        color: white;
        }

        .tdd{
        text-align: center;
        align-content: center;
        }

        #detailsDataTable tr:nth-child(even){background-color: #f0f0f0;}

        #detailsDataTable tr:hover {background-color: #ddd;}



    </style>

    <h2>hi</h2>

    <table id="detailsDataTable" ></table>

     <script>
            jobDetails();
            var span1 = document.getElementsByClassName("close")[0];
            var modalPol = document.getElementById('policyModal');
            var modalAlert=document.getElementById('alertModal');
            var span4=document.getElementsByClassName("close")[1];
            span1.onclick = function() {
                //modalBack.style.display = "none";
                modalPol.style.display = "none";
            };
             span4.onclick = function() {
                //modalBack.style.display = "none";
                modalAlert.style.display = "none";
            };

            window.onclick = function(event) {
                if (event.target == modalPol) {
                    modalPol.style.display = "none";
                }
                if (event.target == modalAlert) {
                    modalAlert.style.display = "none";
                }
            };
            //buildDetailsTable('#detailsDataTable');

     </script>


{% endblock %}